/*  media query for diferent viewports with min and max */
/*  diff images for diff viewport sizes  #f2f2f2*/

*{
	box-sizing: border-box;
	font-weight: normal;
}

html,body{

	background-color: #f2f2f2;
	width:100vp;
	height:100vh;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

h1{
	text-align: center;
	margin-bottom: 70px;
	font-family: 'Passion One', cursive;
	font-size: 36px;
	letter-spacing: 0.2em;
	color: #1a1a1a;

}
h2{
	margin-bottom:30px;
}

section{
	width: 1160px;
	margin: auto;
}

p, .title-services{
	text-align: center;
	line-height: 1.6em;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;	
	font-size: 16px;
	color: #1a1a1a;
}

#home-container {
	position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff; 

	top: 0;
	left: 0;

	  -webkit-perspective: 1000px;
          perspective: 1000px;
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
	-webkit-transition: -webkit-transform 1s ease-in-out;
	        transition: transform 1s ease-in-out;
}

/*Scroll down -  Perce*/
#home-container.nav-is-visible {
	-webkit-perspective: 1000px;
        perspective: 1000px;
	-webkit-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	        transform: translateY(-100%);
	-webkit-transition:-webkit-transform 1s 1s ease-in-out;
	        transition:transform 1s 1s ease-in-out;  

}


.home{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("../img/fond.jpg");
    background-position:center 20%;
    box-sizing:border-box;
	border:0px solid #fff;

		-webkit-transform-origin: center bottom;

	    -ms-transform-origin: center bottom;

	        transform-origin: center bottom;
	-webkit-transform: rotateX(0);
	        transform: rotateX(0);
	-webkit-transition: -webkit-transform 1s ease-in-out;
	        transition: transform 1s ease-in-out;

	
}

.nav-is-visible .home {
	border:40px solid #fff;


	-webkit-transform-origin: bottom bottom;
    -ms-transform-origin: bottom bottom;
        transform-origin: bottom bottom;

	-webkit-transform: translateY(-500px) rotateX(90deg);
	       transform: translateY(-500px) rotateX(90deg);
	-webkit-transition: border 1s ease-in-out, -webkit-transform 1s 1s ease-in-out;
	       transition: 	border 1s ease-in-out, transform 1s 1s ease-in-out;	
}


#logo-container{
	position: absolute;
	text-align: center;
	height: 300px;
	width: 300px;
	top:50%;
	left:50%;
	margin: -150px 0 0 -150px;

	box-sizing: border-box;
	border: 20px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #cfd1d2 0%, #337e99 100%); 
    -webkit-border-image: -webkit-linear-gradient(top left, #cfd1d2 0%, #337e99 100%);
    border-image: url('') 1;
    -webkit-transform: translateZ(0px) rotateY(0deg);

	        transform: translateZ(0px) rotateY(0deg);
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: -webkit-transform 1.5s, opacity 0.5s, ease-in-out;
}

#logo{

	width:130px;
	height: 80px;
	margin: 25px auto 25px auto;
	background: url("../img/logo.svg") no-repeat;
}

#logo-container span{
	display: inline-block;
	width: 30px;
	height: 2px;
	background-color: #9c9c9c;
}

#text{
	margin-top: 40px;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-size: 18px;
	color: #1a1a1a;	
}

#arrow{
	width:32px;
	height:32px;
	position: absolute;
	margin-left: -16px;
	left: 50%;
	bottom: 20px;
	display: block;
	cursor: pointer;
	background: url("../arrow.svg") no-repeat;
	opacity: 1;
	-webkit-transition:opacity 0.5s,2s ease-in-out;

        transition:opacity 0.5s,2s ease-in-out;
}

#arrow.nav-is-visible{
	opacity: 0;

filter: alpha(opacity=0);
	-webkit-transition:opacity 0.5s, ease-in-out;
	        transition:opacity 0.5s, ease-in-out;

}

/* Scroll down -  Dispa fond  */

.nav-is-visible .home::after {
    /* menu dark cover layer - to enhance perspective effect */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.5;
    visibility: visible;
    -webkit-transition: opacity 2s 1s, visibility 2s 1s;
            transition: opacity 2s 1s, visibility 2s 1s;; 
}

.home::after {
    /* menu dark cover layer - to enhance perspective effect */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s 0s, visibility 0.5s 0s;

        transition: opacity 0.5s 0s, visibility 0.5s 0s;
}

main, main.nav-is-visible{
	margin: auto;
	width: 100%;
}

main{
	position: absolute;
	top:100%;
	-webkit-transition: top 1s ease-in-out;

        transition: top 1s ease-in-out;
}

/* Scroll down - App content*/
main.nav-is-visible{
	position: absolute;
	top:70px;
	-webkit-transition: top 1s 1s ease-in-out;

        transition: top 1s 1s ease-in-out;
}



#about{
 /*background: blue;  */
 width: 1000px;
 height:900px;
}


#photo-container{
	margin: 100px auto 0 auto;
	width: 1000px;
	height: 600px;
}

.photo{
 	width: 1000px;
	height: 180px;
	margin-bottom: 5px;
	position: relative;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	text-align: center;
	font-family: 'Passion One', cursive;
	font-size: 36px;
	letter-spacing: 0.2em;
	color: #1a1a1a;
	
 }



.first-box, .second-box, .third-box{
	
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform: translateZ( -90px );
	transform: translateZ( -90px );
	-webkit-transform-style: preserve-3d;

        transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	        transition: transform 1s;
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
}

.first-box figure, .second-box figure, .third-box figure{

 	width: 1000px;
	height: 180px;
 	margin: 0px;
	display: block;
	position: absolute;
 }
.first-box .front, .second-box .bottom, .third-box .back{
	background-image: url("../img/photo01.jpg");
}

.first-box .bottom, .second-box .front, .third-box .bottom{
	background-image: url("../img/photo02.jpg");
}

.first-box .back, .second-box .back, .third-box .front{
	background-image: url("../img/photo03.jpg");
}

.second-box figure{	
	background-position: 0 -180px;
}
.third-box figure{	
	background-position: 0 -360px;
}

.front  {
	-webkit-transform-origin: center center;
    -ms-transform-origin: center center;
        transform-origin: center center;
	-webkit-transform: rotateY(0deg) translateZ(90px) ;
	        transform: rotateY(0deg) translateZ(90px) ; 

}
.back {
	-webkit-transform-origin: center center;
    -ms-transform-origin: center center;
        transform-origin: center center;
	-webkit-transform:  rotateX(180deg) translateZ(90px);
	        transform:  rotateX(180deg) translateZ(90px); 

}
.bottom {
	-webkit-transform-origin: center center;
    -ms-transform-origin: center center;
        transform-origin: center center;
	-webkit-transform:  rotateX(-90deg) translateZ(90px);
	        transform:  rotateX(-90deg) translateZ(90px); 
}

.anim .first-box{
	-webkit-transform:  rotateX(45deg) translateY( 0px );
        transform:  rotateX(45deg) translateY( 0px );

	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
}

.anim .second-box{
	-webkit-transform:  rotateX(135deg) translateZ( 0px );
        transform:  rotateX(135deg) translateZ( 0px );

	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
}

.anim .third-box{
	-webkit-transform:  rotateX(135deg) translateZ( 0px );
        transform:  rotateX(135deg) translateZ( 0px );

	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
}

.launchRot01 .second-box, .launchRot02 .third-box, .launchRot02 .first-box{
	-webkit-transform:  rotateX(90deg) translateY( -90px );
        transform:  rotateX(90deg) translateY( -90px );
	-webkit-transition: -webkit-transform 1s;
	        transition: transform 1s;
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;  

}

.launchRot01 .second-box, .launchRot02 .third-box, .launchRot02 .first-box{
	-webkit-transform:  rotateX(90deg) translateY( -90px );
        transform:  rotateX(90deg) translateY( -90px );
	-webkit-transition: -webkit-transform 1s;
	        transition: transform 1s;
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;  

}
.launchRot01 .third-box, .launchRot03 .second-box, .launchRot03 .first-box{
	-webkit-transform:  rotateX(179deg) translateZ( 90px );
        transform:  rotateX(179deg) translateZ( 90px );
	-webkit-transition: -webkit-transform 1s;
	        transition: transform 1s;
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;  

}

#name-container, #name-container02, #name-container03{
	position: absolute;
	pointer-events: none;
	margin: auto;
	margin-top:-100px;
	width: 1000px;
	height: 150px;

}

.line-container{
	margin-bottom: 15px;
}

.lineL, .goLine .lineL{
	-webkit-transform-origin: right top;
    -ms-transform-origin: right top;
        transform-origin: right top;  
	
}

.lineR, .goLine .lineR{
	right: 0;
	-webkit-transform-origin: left top;
    -ms-transform-origin: left top;
        transform-origin: left top;	
}

.lineL, .lineR{
	position: absolute;
	height: 1px;
	width:200px;
	background-color: #fff;
	opacity: 0;
	-webkit-transition: height 0.25s, width 0.5s 0.25s, opacity 0.25s 0.25s,-webkit-transform 0.5s 0.25s;
        transition: height 0.25s, width 0.5s 0.25s, opacity 0.25s 0.25s,transform 0.5s 0.25s;
	-webkit-transform:scale(1,1);
	    -ms-transform:scale(1,1);
	        transform:scale(1,1);
}

.goLine .lineL, .goLine .lineR{
	-webkit-transform:scale(0.15,1);
    -ms-transform:scale(0.15,1);
        transform:scale(0.15,1);
	opacity: 1;

	width:550px;
	height:10px;
	-webkit-transition: height 0.25s 0.75s,  width 0.5s, opacity 0.5s, -webkit-transform 0.5s 0.25s;
	        transition: height 0.25s 0.75s,  width 0.5s, opacity 0.5s, transform 0.5s 0.25s;
}

.name-about, .title{
	text-align: center;
	display: block;
}

.name-about{
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-size: 	36px;
	opacity: 0;
	color: #fff;
	-webkit-transform:translateY( 0px );
		    -ms-transform:translateY( 0px );
		        transform:translateY( 0px );
	-webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
	        transition: opacity 0.25s, transform 0.25s;

	
}
.title{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	opacity: 0;
	-webkit-transform:translateY( 0px );
    -ms-transform:translateY( 0px );
        transform:translateY( 0px );
	-webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
	        transition: opacity 0.25s, transform 0.25s;

}

.goLine .name-about{
	opacity: 1;
	-webkit-transform:translateY( -10px );
    -ms-transform:translateY( -10px );
        transform:translateY( -10px );
	-webkit-transition: opacity 0.25s, -webkit-transform 0.5s;
	        transition: opacity 0.25s, transform 0.5s;

	
}
.goLine .title{
	opacity: 1;
	-webkit-transform:translateY( 10px );
	    -ms-transform:translateY( 10px );
	        transform:translateY( 10px );
	-webkit-transition: opacity 0.25s, -webkit-transform 0.5s;
	        transition: opacity 0.25s, transform 0.5s;

	
}


#service{
    height:460px;
    width: 900px;
    text-align: center;
   
}

#service div{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.6em;
	letter-spacing: 1px;
	color: #1a1a1a;
}

#service span{
	display: inline-block;
	margin-bottom: 25px;
	height: 65px;
	width: 100%;
}

#first{
	width: 300px;
	height: 100px;	
		
	float: left;
}

#second{
	width: 300px;
	height: 100px;	
	
	float: left;
}
#third{
	width: 300px;
	height: 100px;
	float: left;
}

#first span{
	background: url("../design.svg") no-repeat center;
}
#second span{
	background: url("../dev.svg") no-repeat center;
}
#third span{
	background: url("../pm.svg") no-repeat center;
}

#contact{
	width: 100%;
    height:567px;
}
#form {
	width: 860px;
	margin:auto;	
}

input:focus, textarea:focus{
	outline:0px !important;
	-webkit-appearance:none;
}

#name,#email,#object,#message {
    background-color:transparent;
	border-top: none;
	border-right: none;
	border-bottom: solid 1px #5a5a5a;
	border-left: solid 1px #5a5a5a;
	margin-bottom: 40px;
	padding-left: 20px;
	
	font-family:'Libre Baskerville', serif;
	font-style: italic;
	font-size: 14px;
	color: #808080;
}

#name,#email,#object{
	width: 380px;
	height: 40px;
}
#email {
	margin-left: 50px;
}
#message{
	resize:none;
	width: 860px;
	height: 200px;
}
#submit {
    background-color: transparent;
    margin-top: 12px;
    border: none;
    width: 100px;
    color: #262626;
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 300;
}

a{
	text-decoration: none;

}


#btn{
	position: relative;
	width: 100px;
	height: 50px;
	margin: auto;
	cursor:pointer;
}

.draw{
	position: absolute;
	top: 0;
	left:0;
 	stroke-dashoffset: 130;
 	stroke-dasharray:150;

 	-webkit-transition:all 0.3s ease-in-out;
 	       transition:all 0.3s ease-in-out;

 }

.draw:hover{
 	stroke-dashoffset:0;
 	stroke-dasharray:150;
 	-webkit-transition:all 0.3s ease-in-out;
 	       transition:all 0.3s ease-in-out;
 }

#map-container{
	position: relative;
	margin-top: 105px;
}

#adress-container{
	position: absolute;
	left: 50%;
	margin-left:-127px;
	top: -25px;
	z-index: 1000;
	background-color: #16161f;
	width: 255px;
	height: 93px;
	text-align: center;
	
	
}
#adress{
	margin-top: 25px;
	display:inline-block;
	line-height: normal;
	vertical-align: middle;
	color: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

#map {
	margin-top: 80px;
	height:400px;
	width:100%;
}

    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }

.gmnoprint, .gm-style-cc{
	display: none;
}


/*********************************************************************
**********************************************************************
**********************************************************************
**********************************************************************
******************* VERSION  1023 a 768 / TABLETTE *******************
**********************************************************************
**********************************************************************
**********************************************************************
*********************************************************************/
@media screen and (max-width:989px) {

}


/*********************************************************************
**********************************************************************
**********************************************************************
**********************************************************************
************************* VERSION SMARTPHONE *************************
**********************************************************************
**********************************************************************
**********************************************************************
*********************************************************************/
@media screen and (max-width:767px) {
	
}